html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

div{
    height: 100%;
    width: 33.3333%;
    float: left;
}

.blue{
    background-color: hsla(213, 76%, 57%, 1);
}

.turqouise{
    background-color: hsla(170,100%,46%,1);
}

.green{
    background-color: hsla(101,81%,73%,1);
}

.empty{
    height: 75%;
}

.image{
    height: 25%;
    width: 100%;
    background: url(http://www.prevention.com/sites/default/files/imagecache/slideshow_display/dog-dogue-de-bordeaux-puppy-410x290.jpg) no-repeat;
    background-size: 100% 100%;
}

