html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    height: 14%;
    background-color: hsla(0,0%,85%,1);
    box-sizing: border-box;
    padding: 20px 0 0 20px;
}

.profilePic {
    width: 10%;
    height: 80%;
    background-color: hsla(213,76%,57%,1);

}

body div {
    width: 100%;
}

.jumbotron {
    height: 30%;
    background-color: white;
    box-sizing: border-box;
    padding: 40px 40px 40px 40px;
}

p {
    text-align: justify;
    font-family: Ariel, sans-serif;
    font-size: 20px;
}

.container {
    height: 14%;
    clear: both;
}

.blue {
    background-color: hsla(213,76%,57%,1);
}

.turq {
    background-color: hsla(170,100%,46%,1);
}

.pea {
    background-color: hsla(101,81%,73%,1);
}

.yellow {
    background-color: #F6ED00;
}